<% provide(:title, @user.name) %>
<section>
    <div class="user-img">
      <%= gravatar_for @user %>
    </div>
    <h1 class="user-name">
      <%= @user.nickname %>
    </h1>
    <%= @user.email %>
    <%= @user.self_introduction %>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿数 (<%= @user.microposts.count %>)</h3>
          <%= render 'shared/stats' %>
          <%= render 'follow_form' if logged_in? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
<%= will_paginate @microposts %>
</section>
